<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<style>
h1{
   background-color:black;
   color:white;
   text-align: center;
   }
   a{
     text-decoration:none;
     color:black;
     background-color:white;
     padding: 15px;
     font-size: 1.4rem;
     }
        a:hover{
            border: 2px solid white;
            text-decoration:none;
            color: yellow;
            background-color: red;}
   p{
   color:black;
   font-size:1.4rem;
   font-family:timesnewroman;
   font-weight:bold;}
</style>
</head>

<body>
<h1>PROJECT MANAGEMENT</h1><br/>
<center><a class="h2" th:href="@{/view_product}">PROJECT TEAMS</a><br></center>
</body>
</html>
