<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manage Products</title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
<style>
body{
            background-image: url("back.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        h1{
   background-color:black;
   color:white;
   text-align: center;
   }
        </style>
</head>
<body>
<h1>PROJECT MANAGEMENT</h1>
<form><div class="container-fluid text-center">
<div><h2>Project List</h2></div>
<div class="m-2">
<a class="h3" th:href="@{/prod/new}">Add New Project</a>
</div>

<div th:if="${message}" class="alert alert-success text-center">
[[${message}]]
</div>

 <div>
<table class="table table-bordered">
<thead class="thead-dark">
<tr>
<th>S.no</th>
<th>Name</th>
<th>E-Mail</th>
<th>Project_name</th>
<th>Language</th>
<th>DataBase</th>

</tr>
</thead>
<tbody th:each="prod:${listprod}">
<tr>
<td>[[${prod.id}]]</td>
<td>[[${prod.name}]]</td>
<td>[[${prod.email}]]</td>
<td>[[${prod.project_name}]]</td>
<td>[[${prod.language}]]</td>
<td>[[${prod.DB}]]</td>
<td><a class="h4" th:href="@{'/prod/edit/' + ${prod.id}}">Edit</a>
</td><td><a class="h4" th:href="@{'/prod/delete/' + ${prod.id}}">Delete</a></td>
</tr>
</tbody>
</table>
</div>
</form>
</body>
</html>