<!DOCTYPE html>
<html xmlns:th="http:www.thymeLeaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Details</title>

<style>

input{
	padding:50px 50px:
}

</style>



</head>
<body>



<div align="center">

<h1>Enter Your Details </h1>
<form th:action="@{'/register'}" method="post" th:object="${user}">

<label>Enter full name : </label>
<input type="text" th:field="*{name}"/>
<br><br>
<label>Enter email : </label>
<input type="text" th:field="*{email}"/>

<br><br>

<label>Enter Profession : </label>
<input type="text" th:field="*{profession}"/>

<br><br>
<label>Married :</label>
<input type="checkbox" th:field="*{married}"/>

<br><br>
<label>Enter gender</label>
<input type="radio" th:field="*{gender}" value="Male"/>

<input type="radio" th:field="*{gender}" value="female"/>

<br><br>



<button type="submit">Register</button>
</form>

</div>

</body>
</html>



